<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--This code is here, and will be available to anywhere in the apps when declaring in layout folder-->
    <div class="ui small inverted menu"> <!--to turn nav bar to a dark bg-->
      <div class = "ui container"> <!--using this ui container class to tab element in the menu-->
        <!--Render the navigation layout page-->
        <%= render 'layouts/navigation' %>
      </div>
    </div>
    <div class= "ui container">
      <%= yield %>
    </div>
  </body>
</html>
